.setupHeader{
    margin-top: 34px;
    margin-left: 48px;
    margin-right: 34px;
}

.setupHeading{
    font-weight: 700;
    font-size: 24px;
}

.nextButton{
    width: 178px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    background-color: #192873;
    color: #FFFFFF;
}

.backButton{
    width: 178px;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #192873;
}

.formSize{
    padding-top: 95px;
    padding-left: 128px;
    padding-right: 128px;
}

.formHeading{
    font-weight: 700;
    font-size: 32px;
}