/* Maincontent */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

p {
  margin: 0;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-vcenter-hsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-vstart-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.main-content {
  padding: 0px 0px 159px 0px;
  box-sizing: border-box;
  width: 1440px;
  height: 4272px;
}

.featured-npmho {
  padding: 0px 159px;
  margin-bottom: 160px;
  box-sizing: border-box;
  width: 100%;
}

.txt-362 {
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-bottom: 64px;
}

.frame-7 {
  padding: 0px 159px;
  box-sizing: border-box;
  width: 1440px;
}

.frame-41 {
  height: 100%;
}

.rectangle-1 {
  background-color: rgba(217, 217, 217, 1);
  height: 320px;
  margin-bottom: 25px;
  width: 100%;
}

.frame-4 {
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
}

.txt-883 {
  font-size: 22px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 127%;
  color: rgba(51, 51, 51, 1);
  word-wrap: break-word;
  margin-bottom: 25px;
}

.line-1 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 277px;
  height: 1px;
  margin-bottom: 25px;
}

.txt-632 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(51, 51, 51, 1);
  width: 289px;
  word-wrap: break-word;
}

.mindbetter-support-system {
  margin-bottom: 160px;
  box-sizing: border-box;
  width: 100%;
}

.frame-71 {
  background-color: rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
}

.frame-11 {
  display: flex;
  flex: 1;
  padding: 49px 39px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.txt-007 {
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.mental-health-workshop {
  padding: 0px 159px;
  margin-bottom: 160px;
  box-sizing: border-box;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  padding: 39px;
  box-sizing: border-box;
  width: 680px;
  height: 100%;
}

.txt-339 {
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-bottom: 40px;
}

.txt-094 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
  width: 601px;
  word-wrap: break-word;
  margin-bottom: 40px;
}

.frame-12 {
  padding: 7px 31px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(115, 115, 115, 1);
  width: fit-content;
}

.txt-696 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.mindbetter-support-system {
  margin-bottom: 160px;
  box-sizing: border-box;
  width: 100%;
}

.txt-362 {
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-bottom: 64px;
}

.blog-post-feature {
  width: 100%;
}

.frame-43 {
  margin-right: 80px;
  box-sizing: border-box;
  height: 100%;
}

.rectangle-11 {
  background-color: rgba(217, 217, 217, 1);
  height: 400px;
  margin-bottom: 25px;
  width: 100%;
}

.frame-42 {
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
}

.txt-808 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(51, 51, 51, 1);
  width: 385px;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.txt-133 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 175%;
  color: rgba(51, 51, 51, 1);
  word-wrap: break-word;
}

.frame-41 {
  height: 100%;
}

.rectangle-11 {
  background-color: rgba(217, 217, 217, 1);
  height: 400px;
  margin-bottom: 25px;
  width: 100%;
}

.frame-42 {
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
}

.txt-808 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(51, 51, 51, 1);
  width: 385px;
  word-wrap: break-word;
  margin-bottom: 12px;
}

.txt-133 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 175%;
  color: rgba(51, 51, 51, 1);
  word-wrap: break-word;
}

.stay-in-touch {
  padding: 0px 159px;
  box-sizing: border-box;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  padding: 39px;
  box-sizing: border-box;
  width: 680px;
  height: 100%;
}

.txt-339 {
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-bottom: 40px;
}

.txt-094 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
  width: 601px;
  word-wrap: break-word;
  margin-bottom: 40px;
}

.frame-41 {
  width: fit-content;
}

.frame-121 {
  padding: 11px 23px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(235, 235, 235, 1);
  width: 100%;
}

.txt-3109 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: rgba(92, 92, 92, 1);
  word-wrap: break-word;
}

.frame-12 {
  padding: 7px 31px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(115, 115, 115, 1);
  width: fit-content;
}

.txt-696 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}
